<div class="main">
  <div class="main-content">
    <mat-grid-list cols="4" rowHeight="300px">

      <mat-grid-tile colspan="2" rowspan="1">
        <app-recommendation [dayWeather]="dayWeather"></app-recommendation>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="1">
        <div class="container">
          <angular-yandex-map (click)="mclick($event)" (yaclick)="onMouse($event)" [center]="[55.751952, 37.600739]"
            [zoom]="8">
          </angular-yandex-map>
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="1">
        <app-day [xCoor]="xCoor" [yCoor]="yCoor" class="content"></app-day>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
