.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  background: inherit;
  z-index: 1;
}

.main-content::before {
  content: "";
  position: absolute;
  background: #FFFAFA;
  opacity: 0.75;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/prime.jpg);
  background-size: cover;
  background-attachment: fixed;
}


.content{
  min-width: 100%;
  min-height: 100%;
}

.container {
  width:  80%;
  height: 260px;
}


